.band-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    gap: 2rem;
}

.band-media img {
    width: 600px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}