@model BandsApp.Web.Models.Band
<!DOCTYPE html>
<html>
<head>
    <title>Bands</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">

</head>
<body>
    <h2>Band</h2>
    <p>@Model.Name</p>
    <p>@Model.Description</p>
    <img src="@Model.ImageUrl"/>
    <iframe width="560" height="315" src=@Model.VideoAddress title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>