@model BandsApp.Web.Models.Band
<!DOCTYPE html>
<html>
<head>
    <title>Bands</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">

</head>
<body>
    <h2>Band</h2>
    <p>@Model.Name</p>
    <p>@Model.Description</p>
</body>
</html>