@model BandsApp.Web.Models.Band[]
<!DOCTYPE html>
<html>
<head>
    <title>Bands</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")"/>
</head>
<body>
    <header><h2>Bands Webb App</h2></header>
    
    
    <ul>
        @foreach (var band in Model)
        {
            <li><a href="/details/@band.Id">@band.Name</a></li>
        }
    </ul>
    <footer>
        Sidan skapades av grupp FEM:
        <ul>
            <li>Keshti Gyllinger</li>
            <li>David Arngren</li>
            <li>Alberto Nuñez</li>
        </ul>
    </footer>
</body>
</html>